/* Soluzione qui */


/* Tablet */

@media screen and (min-width: 768px) {

  #topbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container {
    padding: 20px;
  }

  .recipe-origin {
    display: inline-block;
  }

  .recipe-category {
    font-size: 20px;
  }

  .quick-notes li {
    display: inline-flex;
    padding: 0 35px;
  }

  .btn {
    padding: 10px 50px;
  }
 
  


}