/* Soluzione qui */


/* bonus large mobile */

@media screen and (min-width: 576px) {

  .presentation img {
    float: left;
    margin-right: 10px;
  }

  .btn {
    width: 20%;
  }

}

/* Tablet */

@media screen and (min-width: 768px) {

  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 20px;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-title {
    font-size: 30px;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li {
    width: calc (100% / 3)
  }

  .ads {
    display: block;
  }

}

/* desktop */

@media screen and (min-width: 992px) {

  .recipe-title {
    font-size: 30px;
  }

  .quick-notes ul {
    display: block;
  }

  .recipe-card {
    display: flex;
    justify-content: space-around;
  }

  .recipe-video {
    width: 70%;
    height: 400px;
    object-fit: cover;
  }

  .recipe-info li {
    justify-content: initial;
  }

  .social-networks .label,
  i {
    display: inline;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

}